<?xml version="1.0" encoding="UTF-8" ?>
<service id="nextcloud-caldav">
    <type>caldav</type>
    <name>Calendar</name>
    <icon>image://theme/icon-m-date</icon>
    <provider>nextcloud</provider>

    <template>
        <setting name="sync_profile_templates" type="as">["caldav-sync"]</setting>
        <group name="auth">
            <setting name="method">password</setting>
            <setting name="mechanism">password</setting>
        </group>
    </template>
</service>
