<?xml version="1.0" encoding="UTF-8" ?>
<service id="nextcloud-carddav">
    <type>carddav</type>
    <name>Contacts</name>
    <icon>image://theme/icon-m-file-vcard</icon>
    <provider>nextcloud</provider>

    <template>
        <setting name="sync_profile_templates" type="as">["carddav.Contacts"]</setting>
        <group name="auth">
            <setting name="method">password</setting>
            <setting name="mechanism">password</setting>
        </group>
    </template>
</service>
