<?xml version="1.0" encoding="UTF-8" ?>
<service id="nextcloud-posts">
    <type>posts</type>
    <name>Notifications</name>
    <icon>image://theme/icon-m-events</icon>
    <provider>nextcloud</provider>

    <template>
        <setting name="sync_profile_templates" type="as">["nextcloud.Posts"]</setting>
        <group name="auth">
            <setting name="method">password</setting>
            <setting name="mechanism">password</setting>
        </group>
    </template>
</service>
