<?xml version="1.0" encoding="UTF-8" ?>
<service id="nextcloud-images">
    <type>sync</type>
    <name>Images</name>
    <icon>image://theme/icon-m-file-image</icon>
    <provider>nextcloud</provider>

    <template>
        <setting name="sync_profile_templates" type="as">["nextcloud.Images"]</setting>
        <group name="auth">
            <setting name="method">password</setting>
            <setting name="mechanism">password</setting>
        </group>
    </template>
</service>
